**/target/
**/.classpath
**/.project
**/bin/
**/logs/
**/.settings/
**/build/.gitpath
**/src/main/webapp/build_info
**/build/build_info.*
**/pom.xml.versionsBackup
**/node_modules
**/*.log
**/*.orig
npm-debug.log
**/npm-debug.log*
**/.vscode
**/package-lock.json
**/dist/*
**/.build/*
**/*.iml
.idea